@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

@font-face {
  font-family: 'YeongdeokSnowCrab';
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Yd/YeongdeokSnowCrab.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --NS-White: #ffffff;
  --NS-Main1: #5e72eb;
  --NS-Main-Clicked: #3d54e2;
  --NS-Main2: #749df5;
  --NS-Main4: #e0f4ff;
  --NS-Main5: #8eb1fc;
  --NS-Black: #161616;
  --NS-Black2: #000000;
  --Gray1: #a4a4a4;
  --Gray2: #bbbbbb;
  --Gray3: #f7f7f7;
  --Gray4: #d9d9d9;
  --Red: #ee4b4b;
  --Logo: 400 44px / normal YeongdeokSnowCrab;
  --LogoMini: 400 32px / normal YeongdeokSnowCrab;
  --Y1: 400 32px / normal YeongdeokSnowCrab;
  --Y2: 400 12px / normal YeongdeokSnowCrab;
  --H1: 800 36px / normal Pretendard;
  --H11: 800 36px / normal Pretendard-ExtraBold;
  --H2: 700 24px/22px Pretendard;
  --H2-2: 700 24px / normal Pretendard-Bord;
  --H3: 600 28px / normal Pretendard;
  --H4: 800 32px / normal Pretendard;
  --H4-1: 600 32px / normal Pretendard;
  --H4-2: 600 32px / normal Pretendard-ExtraBold;
  --T1: 700 36px / normal Pretendard;
  --T1-1: 600 36px / normal Pretendard;
  --T2: 600 20px/28px Pretendard;
  --T2-2: 400 20px / normal Pretendard-Medium;
  --T3: 400 22px / normal Pretendard;
  --T3-1: 600 22px/22px Pretendard;
  --T4: 400 20px/28px Pretendard;
  --T5: 600 10px/15px Pretendard;
  --S1: 700 16px / normal Pretendard;
  --S1-1: 400 16px/28px Pretendard;
  --S1-2: 400 16px / normal Pretendard-SemiBold;
  --S1-3: 400 16px / normal Pretendard-Bold;
  --S1-4: 400 20px / normal Pretendard-SemiBold;
  --Button: 400 16px / normal Pretendard;
  --Input: 500 20px / 22px Pretendard;
  --Label: 500 16px / 15px Pretendard;
  --BigButton: 700 20px / normal Pretendard;
  --W1: 600 16px / normal Pretendard;
  --M1: 700 24px / normal Pretendard;
  --M1-1: 400 16px/22px Pretendard;
  --M1-B: 400 10px / 15px Pretendard;
  --N1: 600 44px / normal Pretendard;
  --N2: 700 24px / normal Pretendard;
  --N3: 700 28px / normal Pretendard;
  --N4: 400 12px / normal Pretendard;
  --P-S1: 600 12px / normal Pretendard;
  --P-S2: 600 10px / normal Pretendard;
  --P-S2-2: 400 8px / normal Pretendard;
  --P-S3: 600 10px / normal Pretendard;
  --H1-B: 700 20px / 22px Pretendard;
  --W1-B: 600 8.63px / normal Pretendard;
  --Input-B: 500 12px / normal Pretendard;
  --T5-B: 600 8px / normal Pretendard;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #749df5 0%, #b9e3fc 100%);
  background-repeat: no-repeat;
  font-size: 100%;
}

html,
body {
  overflow-x: hidden;
  font-family: 'Pretendard', sans-serif;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--NS-Main1);
}

::-webkit-scrollbar-track {
  background: var(--NS-Main4);
}
